<table class='table'>
  <tr>
    <%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  
  <tr>
    <th>follows</th>
    <th>
      <%= link_to user.followings.count, user_followings_index_path(user.id) %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to user.followers.count, user_followers_index_path(user.id) %>
    </th>
  </tr>
  
  
</table>

<table class='table'>
  <tbody>
    <% if current_user != user %>
    <tr>
      <th>
        <%= link_to 'Direct Messenge', chat_path(user.id), class: "btn btn-success btn-block" %>
      </th>
    </tr>
    <% end %>
    <tr>
      <td>
        <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
        <%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn btn-success btn-block" %>
        <% else %>
        <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-info btn-block" %>
        <% end %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
    
    

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>