<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>
      <div class="following">
        <p>フォロー数：<%= user.followings.count %></p>
      </div>
    </th>
  </tr>
  <tr>
    <th>
      <div class="follower">
        <p>フォロワー数：<%= user.followers.count %></p>
      </div>
    </th>
  </tr>
  <tr>
    <th>
      <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
        <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete %></p>
      <% else %>
        <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>